/* //////////////////////////////////////////////////GLOBAL///////////////////////////////////////////////////////////// */
@font-face {
    font-family: Manrope;
    src: url(./fonts/manrope.woff);
}

@font-face {
    font-family: Supermarket;
    src: url(./fonts/supermarket.woff);
}

* {
    padding: 0px;
    margin: 0px;
    top: 0px;
}

.block {
    display: block;
}

.link {
    color: black;
    text-decoration: none;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
}

.border {
    border: 3px solid black;
}

img.background {
    width: 100%;
}

.vertical-center {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.horizontal-center {
    text-align: center;
}

.row-flex {
    display: flex;
    flex-direction: row;
    /* overflow: hidden; */
}

.column-flex {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

p.title {
    font-size: 4vw;
}

.textM {
    font-family: Manrope, Helvetica, Arial, sans-serif;
}

.textS {
    font-family: Supermarket, Helvetica, Arial, sans-serif;
}

input {
    border: none;
}

::-ms-clear,
::-ms-reveal {
    display: none;
}

textarea {
    border: none;
    overflow: hidden;
    resize: none;
}

button:hover {
    opacity: 0.8;
}

.fullWidth {
    width: 100%;
}

.none {
    display: none;
}

.hidden {
    visibility: hidden;
}


/* //////////////////////////////////////////////////WELCOME///////////////////////////////////////////////////////////// */
h1.title {
    font-family: Manrope, Helvetica, Arial, sans-serif;
    font-size: 9vw;
    padding-top: 0px;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

.container {
    position: relative;
    text-align: center;
}

button.start {
    text-align: center;
    background-color: #9c1402;
    color: white;
    padding: 8px;
    width: 25vw;
    font-size: 3vw;
    border-radius: 20px;
    font-weight: 700;
    position: relative;
}

/* //////////////////////////////////////////////////LOGIN///////////////////////////////////////////////////////////// */
button.login {
    width: 10vw;
    color: white;
    border-radius: 8px;
    background-color: #4a362b;
    margin: 0px 1.5vw 0px 1.5vw;
    font-size: 2vw;
    transition: 0.3s;
}

input.user,
input.pass {
    padding: 0.5vw 1.2vw 0.5vw 1.2vw;
    margin: 0px 0px 0.8vw 0px;
    width: 100%;
    height: 3vw;
    font-size: 1.5vw;
    text-indent: 2.8vw;
    border-radius: 6px;
    background-color: #ebc27c;
    border: 0.15vw solid #ebc27c;
    box-sizing: border-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
}

input.user {
    background-image: url(./images/mail.png);
}

input.pass {
    background-image: url(./images/lock.png);
}

label.left {
    text-align: left;
    font-size: 2.2vw;
    display: block;
    margin: 0px 0px 0.2vw 0px;
}

div.error {
    font-size: 1.7vw;
}

.tippy-tooltip.error-theme {
    font-family: Supermarket, Helvetica, Arial, sans-serif;
    color: white;
    background-color: red;
    padding-top: 0px;
    padding-bottom: 0px;
}

.tippy-popper[x-placement="left"] .tippy-tooltip.error-theme [x-arrow] {
    border-left: 7px solid red;
}

.tippy-popper[x-placement="right"] .tippy-tooltip.error-theme [x-arrow] {
    border-right: 7px solid red;
}

form.form-login-center {
    position: relative;
    left: 30%;
    width: 40%;
    text-align: left;
}

button.login-close {
    width: 1vw;
    height: 1vw;
}

button.close {
    background-image: url('./images/close.png');
}

button.hidePassword,
button.showPassword,
button.close {
    background-color: rgba(0, 0, 0, 0);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

button.login-hidePassword,
button.login-showPassword {
    width: 2vw;
    height: 2vw;
}

button.hidePassword {
    background-image: url(./images/hide.png);
}

button.showPassword {
    background-image: url(./images/eye.png);
}

/* //////////////////////////////////////////////////REGISTER////////////////////////////////////////////////////////// */
div.register-label-box {
    width: 25%;
}

div.form-register-center {
    width: 55%;
    position: relative;
    left: 22.5%;
    text-align: left;
}

form.form-register-center {
    padding: 2vw 0.25vw 2vw 2vw;
    background-color: #ebc27c;
    border-radius: 6px;
    margin-bottom: 6vw;
}

label.register {
    font-size: 1.5vw;
    display: flex;
    align-self: center;
    position: relative;
}


img.icon {
    width: 40%;
    cursor: pointer;
    margin: 0px 0px -0.5vw 0px;
}

button.register {
    width: 0.9vw;
    height: 0.9vw;
}

textarea.error,
input.error {
    border: 0.15vw solid red;
}

div.info {
    font-size: 1.25vw;
    text-align: left;
}

.tippy-tooltip.info-theme {
    font-family: Supermarket, Helvetica, Arial, sans-serif;
    color: white;
    background-color: #4a362b;
    padding-top: 0px;
    padding-bottom: 0px;
}

.tippy-popper[x-placement="top"] .tippy-tooltip.info-theme [x-arrow] {
    border-top: 7px solid #4a362b;
}

.tippy-popper[x-placement="bottom"] .tippy-tooltip.info-theme [x-arrow] {
    border-bottom: 7px solid #4a362b;
}

div.errorText {
    color: red;
    font-size: 1.1vw;
    text-indent: 0.7vw;
}

div.top {
    align-content: flex-start;
}

/* //////////////////////////////////////////////////HOME////////////////////////////////////////////////////////////// */
.head_home {
    font-size: 4vw;
    color: #814a2d;
}

.img_menu {
    position: absolute;
    left: 34vw;
    width: 7vw;
}

.img_shop {
    position: absolute;
    right: 34vw;
    width: 7vw;
}

.box {
    position: relative;
    display: flex;
    height: 30vw;
    justify-content: center;
    margin-top: 2.5vw;
    font-size: 1.5vw;
}

.box_menu {
    height: 23vw;
    width: 19vw;
    border-radius: 0.5vw;
    background-color: #ebc27c;
    margin: 3vw;
    box-shadow: 0.1vw 0.1vw 0.5vw #707070;
}

.text_menu {
    font-size: 3.8vw;
    margin-top: 6vw;
}

.text_shop {
    font-size: 3.8vw;
    margin-top: 6vw;
}

/* //////////////////////////////////////////////////About////////////////////////////////////////////////////////////// */

h1.aboutUs {
    font-size: 4vw;
}

p.us {
    font-size: 2.5vw;
    display: flex;
    justify-content: center;
}

p.us>div {
    padding-left: 0vw;
    margin-right: 2vw;
}

/* //////////////////////////////////////////////////Navbar///////////////////////////////////////////////////////////// */
div.navbar {
    position: fixed;
    width: 100%;
    height: 2vw;
    background-color: #D6C4BA;
    padding: 0.5vw;
    /* z-index: 10; */
    /* box-shadow: 0.1vw 0.1vw 0.5vw #707070; */
}

div.dropdown {
    display: none;
}

div.dropdown-none,
div.dropdown-block {
    position: fixed;
    background-color: #D6C4BA;
    top: 3vw;
    width: 12vw;
    padding: 1vw 0 0.5vw 0;
    /* z-index: -10; */
}

div.dropdown-block {
    animation: dropdown 0.25s linear 0s 1 normal forwards;
}

div.dropdown-none {
    animation: dropdownR 0.25s linear 0s 1 normal forwards;
}

@keyframes dropdownR {
    0% {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }

    100% {
        opacity: 0;
        transform: translateY(-3vw);
        visibility: hidden;

    }
}

@keyframes dropdown {
    0% {
        opacity: 0;
        transform: translateY(-3vw);
        visibility: hidden;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;

    }
}



.dropdown-content {
    font-size: 1.4vw;
    width: fit-content;
    text-indent: 1vw;

}

.dropdown-content:hover {
    background-color: #707070;
    color: white;
}


/* //////////////////////////////////////////////////MenuPage/////////////////////////////////////////////////////////// */
div.menu-page {
    align-items: center;
}

/* ////////////////////////////////////////////////////Menu///////////////////////////////////////////////////////////// */

div.menu-container {
    width: 50vw;
    margin: 0 0 2vw 0;
}

img.menu {
    width: 25vw;
    height: 12vw;
    object-fit: cover;
    margin: 0 2vw 0 0;
    border-radius: 0.5vw;
}

div.menu-title {
    background-color: #ebc27c;
    width: 22vw;
    box-sizing: content-box;
    border-radius: 0.5vw;
    text-align: center;
    font-size: 2.25vw;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

}

img.menu-icon {
    width: 2.25vw;
    margin: 1.2vw 2vw 0 1vw;
}

.menu-link {
    font-size: 1.5vw;
}

/* ///////////////////////////////////////////////RegionalMenu////////////////////////////////////////////////////////// */
.region-link {
    width: 14vw;
    height: 18vw;
    margin: 0 3vw 0 0;
    background-color: #ebc27c;
    border-radius: 0.5vw;
    justify-content: center;
}

div.region-container {
    margin: 4vw 0 4vw 0;
}

div.region-title {
    text-align: center;
    color: white;
    font-size: 2vw;
    margin: 0.5vw 0 0 0;
}

div.region-more {
    text-align: center;
    margin: 0.5vw 0 0.5vw 0;
    font-size: 2vw;
}

img.region-img {
    object-fit: cover;
    width: 100%;
    height: 10vw;

}

/* /////////////////////////////////////////////////////Slideshow/////////////////////////////////////////////////////// */

div.slide-container {
    /* margin: 0 0 3vw 0; */
    /* width: 100; */
}

div.slide {
    width: 50%;
}

/* ////////////////////////////////////////////////////BuyProduct/////////////////////////////////////////////////////// */

.storeBox {
    position: relative;
    display: flex;
    height: 16vw;
    width: 50vw;
    border-radius: 0.5vw;
    margin: auto;
    margin-bottom: 2.5vw;
}

.imgFood {
    width: 12vw;
    height: 12vw;
    margin: 2vw 1vw 2vw 3vw;
    object-fit: cover;
    border-radius: 0.5vw;
}

.nameOfProduct {
    font-size: 2vw;
}

.productDetail {
    width: 30vw;
    padding: 2vw;
    line-height: 3vw;
    font-size: 1.5vw;
}

.addToCartButton {
    width: 13vw;
    height: 2.8vw;
    border: none;
    border-radius: 0.5vw;
    color: white;
    font-size: 1.5vw;
    display: block;
    margin: 1vw 17.5vw;
    cursor: pointer;
}

.cartImg {
    width: 1.8vw;
    padding: 0.5vw;
    margin-right: 0.75vw;
    margin-left: -0.5vw;

}

/* ////////////////////////////////////////////////////Input//////////////////////////////////////////////////////////// */

input.button {
    width: 2.5vw;
    height: 2.6vw;
    vertical-align: middle;
    text-align: center;
    font-size: 1.5vw;
    background-color: white;
    border: 0.05vw groove black;
    cursor: pointer;
}

input.button:active {
    border: none;
    background-color: #F0F0F0;
}

input.numOfProduct {
    width: 5vw;
    height: 2.5vw;
    font-size: 1.5vw;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    border: 0.05vw groove black;
    border-left: none;
    border-right: none;
}

textarea.register,
input.register {
    font-size: 1.5vw;
    border: 0.15vw solid white;
}

/* //////////////////////////////////////////////////MenuDetials//////////////////////////////////////////////////////// */


h1.menu-title {
    font-size: 4vw;
    text-align: center;
}

img.menu_icon {
    margin: 0 2vw 0 0;
    width:3vw;
}
div.menu-ingredients{
    width:50%;
    background-color:#814A2C;
    color:white;
    margin-left: calc(25% - 1vw);
    margin-right: calc(25% - 1vw);
    border-radius: 0.5vw;
    justify-content: space-between;
    padding: 1vw 1vw 2vw 1vw;
}
div.steps {
    border-radius: 0.5vw;
    background-color: #4A362B;
    width:52%;
    padding:1vw 4vw 2vw 4vw;
    margin-left: calc(25% - 1vw);
    margin-right: calc(25% - 1vw);
    margin-bottom:2.5vw;
    color:white;
    box-sizing: border-box;

}
div.step-title{
    border-radius: 0 0.5vw 0.5vw 0;
    position: relative;
    left:-4vw;
    background-color: #EBC27C;
    text-align: center;
    width: 7vw;
    padding: 0.25vw;
    margin: 0 0 1vw 0;
    color:black;
}